JuHeeUMGTest/Intermediate/CachedAssetRegistry.bin
JuHeeUMGTest/Saved/AutoScreenshot.png
JuHeeUMGTest/Saved/Backup/GameHUD_2016-02-02-10-45-47.uasset
JuHeeUMGTest/Saved/Config/Windows/EditorPerProjectUserSettings.ini
JuHeeUMGTest/~$tignore